__pycache__/
*.pyc
.pytest_cache/
.env
env.json
venv/
.aws-sam/
package/*
!package/.gitkeep
*.egg-info/
.DS_Store
samconfig.toml
*.sh
*_update.sh
setup_repo.sh
*fix.sh
*trust_policy.json
*-iam-policy.json
*-deploy-policy.json
